:root { 
  --bg-gradient-light: linear-gradient(to bottom, #3a027b, #000000);
  --bg-gradient-dark: linear-gradient(to bottom, #3a027b, #000000);
  --bg-color-light: #333;
  --bg-color-dark: #333;
  --text-color-light: #ffffff;
  --text-color-dark: #ffffff;
  --border-color-light: #2b1b56;
  --border-color-dark: #2b1b56;
  --border-button-light: #c8b7f9;
  --border-button-dark: #c8b7f9;
  --hover-color-light: #575757;
  --hover-color-dark: #575757;
  --bg-button-light: #3a027b;
  --bg-button-dark: #3a027b;
  --bg-body-light: #000000;
  --bg-body-dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-gradient: var(--bg-gradient-dark);
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --border-color: var(--border-color-dark); 
    --hover-color: var(--hover-color-dark);
    --bg-button: var(--bg-button-dark);
    --border-button: var(--border-button-dark);
    --bg-body: var(--bg-body-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-gradient: var(--bg-gradient-light);
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
    --border-color: var(--border-color-light); 
    --hover-color: var(--hover-color-light);
    --bg-button: var(--bg-button-light);
    --border-button: var(--border-button-light);
    --bg-body: var(--bg-body-light);
  }
}

#root {
  align-items: center;
  text-align: center;
  font-size: 4vw;
}

body {
  background-color: var(--bg-body);
  height: 100vh;
  width: 100vw;
  color:white;
}

.ton-button-class{
  background-color: black;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2vw;
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  width: calc(100vw - 4vw);
  height: calc(100vh - 4vh);
  align-items: center;
  padding: 0;
  text-align: center;
  font-size: 3vw;
}

.top-section {
  background: var(--bg-gradient);
  border-radius: 10px;
  padding: 0.5vw;
  padding-bottom: 10px;
  margin-bottom: 1vh;
}

.down-section {
  background: var(--bg-gradient);
  border-radius: 10px;
  padding: 0.5vw;
  min-height: 50vh;
}

.menu {
  background-color: var(--bg-color);
  overflow: hidden;
  padding: 1vh 0;
  border-radius: 2vw;
  margin-bottom: 20px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.menu ul li {
  display: inline;
}

.menu ul li button, .menu ul li > * {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  padding: 2vh 3vw;
  text-decoration: none;
  background-color: var(--bg-color);
  border: none;
  border-radius: 2vw;
  vertical-align: middle;
  font-size: 2.5vw;
}

.menu ul li button:hover, .menu ul li > *:hover {
  background-color: var(--hover-color);
}

.card {
  padding: 4vh 2vw;
}

.read-the-docs {
  color: var(--text-color);
  font-size: 2vw;
}

.logo {
  height: 19vh;
  margin-left: 10px;
}

.three-dot-menu {
  cursor: pointer;
  font-size: 2.2vw;
  color: var(--text-color);
  padding: 2.2vw;
  margin-bottom: 10px;
}

.help-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  margin-top: 10px;
  border: 1px solid var(--border-color);
  width: 90%;
  margin-bottom: 25px;
}

.detail-content {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border: 1px solid var(--border-color);
  width: 90%;
  margin-bottom: 25px;
}

.menu-content div {
  margin-bottom: 8px;
}

.menu-content .Hint {
  font-size: smaller;
  opacity: 0.9;
}

.action-button {
  width: 46%;
  height: 50px;
  font-size: 16px;
  color: var(--text-color);
  border: 0.5px solid var(--border-button);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background-image: linear-gradient(to bottom, #3a027b, #000000);
  background-size: 140% auto;
}

.action-button:hover {
  background-position: right center;
}

.image-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.image-container {
  flex: 1;
  text-align: center;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.wallet-image {
  width: 90%;
  height: auto;
}

.image-value {
  font-size: 3vw;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.button-container {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.button-row-single {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.buy-row {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

.buy-label {
  padding-bottom: 15px;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  background: var(--bg-gradient);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.input-container input {
  margin: 0 10px;
}

.dialog-buttons {
  display: flex;
  justify-content: space-between;
}

.offchain-data {
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 10px;
}

/* General Styles */


/* Input Fields */
input[type="email"], input[type="password"], input[type="text"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  text-align: center;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Buttons */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-button);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--hover-color);
}

/* Error Message */
.error-message {
  color: red;
}

/* Container for the Information Cards */

/* Remove list style from the ul */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Info Card Container */
.info-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px;
  max-width: 95%;
  margin: 0 auto;
}

/* Individual Info Cards */
.info-card {
  margin: 10px 0;
  padding: 5px;
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
  border: 1px solid #838383;
  border-radius: 5px;
  width: 95%;
  opacity: 0.9;
  display: flex;
}

.info-card-solo {
  margin: 10px 0;
  padding: 5px;
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark); 
  border: 1px solid #838383;
  border-radius: 5px;
  width: 95%;
  opacity: 0.9; /* Set opacity to 50% */
}

.info-card strong  {
  color: var(--text-color-dark);
  font-weight: bold;
}

.info-card-solo strong  {
  color:var(--text-color-dark);
  font-weight: bold;
}

/* Info Part */
.info-part {
  flex: 1;
  text-align: left;
}
.info-card-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  color: var(--text-color-dark);
  background-color: var(--bg-color-dark);
  border: 1px solid #838383;
  border-radius: 5px;
  width: 95%;
  opacity: 0.9;
}


.info-details {
  display: flex;
  flex-direction: column;
}

.info-part-new {
  text-align: left;
  margin-bottom: 8px;
}

.balance-center {
  text-align: center;
}

.members-link-new {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.members-icon-new {
  cursor: pointer;
  border: 1px solid #838383;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}


.note {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: none;
}

.note.show {
  display: block;
}

.earn-points-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 10px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 93%;
}

.earn-points-item {
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
}

.earn-points-value {
  font-size: 1.2em;
  font-weight: bold;
  color: #4caf50;
  margin-top: 5px;
}

.earn-points-container strong {
  display: block;
  font-size: 1.1em;
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.list-container {
  margin-top: 5px;
  width: 80%;
}

.hierarchy-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hierarchy-item {
  background-color: var(--bg-body);
  margin: 5px 0;
  padding: 5px 8px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.hierarchy-item:hover {
  background-color: #4e3a3a;
  cursor: pointer;
}

.welcome-name {
  padding: 15px;
  margin: 0;
}

.justified-text {
  text-align: justify;
}







@media (max-width: 768px) {
  #root {
    font-size: 5vw;
  }

  .menu ul {
    flex-direction: row-reverse;
  }

  .menu ul li {
    display: inline-block;
    margin: 0 1vw;
  }

  .menu ul li button, .menu ul li > * {
    padding: 1.5vh 2.5vw;
    border-radius: 2vw;
    font-size: 3.5vw;
  }

  .logo {
    height: 8vh;
  }

  .Hint {
    font-size: 3vw;
    overflow-wrap: break-word;
  }

  .three-dot-menu {
    font-size: 7vw;
  }

  .menu-content {
    font-size:small;
  }

  .action-button {
    font-size: 14px;
  }

  .form-container {
    padding: 15px; /* Adjust padding for smaller screens */
  }

}
